{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="row">

    {% for user in users %}
        <div class="card" style="width: 15rem; margin: 15px; min-height: 250px;">
            <div class="card-body">
                <h5 class="card-title">User: <strong>{{ user.firstName }}</strong></h5>
                <h6 class="card-subtitle mt-4 mb-2 text-muted">Продукты пользователя</h6>
                <ul>
                {% set products = user.getUsersProducts() %}
                {% for product in products %}

                        <li>{{ product.getProducts().getTitle() }}</li>

                {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}

</div>
{% endblock %}
