<form method="post" action="{{ path('app_users_products_delete', {'id': users_product.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ users_product.id) }}">
    <button class="btn">Delete</button>
</form>
