{% extends 'base.html.twig' %}

{% block title %}Edit UsersProducts{% endblock %}

{% block body %}
    <h1>Edit UsersProducts</h1>

    {{ include('users_products/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_users_products_index') }}" class="btn btn-link">back to list</a>

    {{ include('users_products/_delete_form.html.twig') }}
{% endblock %}
