{% extends 'base.html.twig' %}

{% block title %}Продукты пользователей{% endblock %}

{% block body %}
    <h1>Продукты пользователей</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>user</th>
                <th>product</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for users_product in users_products %}
            <tr>
                <td>{{ users_product.id }}</td>
                <td>{{ users_product.user.firstName }}</td>
                <td>{{ users_product.products.title }}</td>
                <td>
                    <a href="{{ path('app_users_products_edit', {'id': users_product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_users_products_new') }}" class="btn btn-info">Create new</a>
{% endblock %}
