{% extends 'base.html.twig' %}

{% block title %}New UsersProducts{% endblock %}

{% block body %}
    <h1>Create new UsersProducts</h1>

    {{ include('users_products/_form.html.twig') }}

    <a href="{{ path('app_users_products_index') }}" class="btn btn-link">back to list</a>
{% endblock %}
