{% extends 'base.html.twig' %}

{% block title %}UsersProducts{% endblock %}

{% block body %}
    <h1>UsersProducts</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ users_product.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_users_products_index') }}">back to list</a>

    <a href="{{ path('app_users_products_edit', {'id': users_product.id}) }}">edit</a>

    {{ include('users_products/_delete_form.html.twig') }}
{% endblock %}
