<nav id="navbar-example2" class="navbar navbar-light bg-light">
    <h2>Тестовое задание</h2>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('homepage') }}">Главная (пользователи и их продукты)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_users_products_index') }}">Добавление продуктов пользователям</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_users_index') }}">Пользователи</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_product_index') }}">Продукты</a>
        </li>
    </ul>
</nav>
