<!DOCTYPE html>
<html>
    <head>
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
            <title>{% block title %}Тестовое задание{% endblock %}</title>
            <meta name="description" content="{% block page_description %}Тестовое задание Ковальчука Юрия{% endblock %}">
            <link rel="stylesheet" href="{{ asset('build/bootstrap.min.css') }}">
            {% block stylesheets %}{% endblock %}

    </head>
    <body>
        <div class="container">

            {% include '_embed/menu.html.twig' %}

            {% block body %}{% endblock %}
        </div>
    </body>
</html>
